h1,
h3 {
  color: rgb(104, 104, 104);
}
h1 {
  margin-top: 15px;
}
ul {
  list-style: none;
  padding: 0;
  color: rgb(155, 155, 155);
  font-size: 18px;
  text-transform: capitalize;
}
form {
  position: relative;
  left: 275px;
  top: -50px;
}
img {
  width: 75px;
  margin-top: -27px;
  margin-left: -20px;
}
a {
  text-decoration: none;
}
small {
  position: relative;
  left: 285px;
}

.container {
  display: block;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  margin-top: 70px;
  padding: 30px;
  width: 618px;
  height: 650px;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
}

.current-temp {
  margin-top: 20px;
  margin-left: 20px;
}

.weather-condition {
  margin-top: 15px;
  margin-left: 20px;
}
.current-temp .units {
  position: relative;
  top: -18px;
  font-size: 20px;
}
.current-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

#top-description {
  margin-top: -30px;
  margin-left: 20px;
}

#temperature {
  font-size: 40px;
  position: relative;
  left: -8px;
}

#submit-button {
  position: relative;
  left: -26px;
}
#forecast-one,
#forecast-two {
  position: relative;
  left: 270px;
  top: -230px;
  padding-bottom: 20px;
}
