h1 {
  margin-bottom: 0;
  color: rgb(104, 104, 104);
}
ul {
  list-style: none;
  padding: 0;
  color: rgb(155, 155, 155);
  font-size: 18px;
  text-transform: capitalize;
}
form {
  position: relative;
  left: 275px;
  top: -38px;
}
img {
  width: 75px;
  margin-top: -27px;
  margin-left: -20px;
}
a {
  text-decoration: none;
}
small {
  position: relative;
  left: 340px;
}

.container {
  display: block;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  margin-top: 70px;
  padding: 30px;
  width: 618px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.current-temp .units {
  position: relative;
  top: -18px;
  font-size: 20px;
}
.current-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

#top-description {
  margin-bottom: 0;
  margin-top: -50px;
}

#temperature {
  font-size: 40px;
  position: relative;
  left: -8px;
}

#submit-button {
  position: relative;
  left: -26px;
}
