h1,
h3 {
  color: rgb(104, 104, 104);
}
h1 {
  margin-top: 15px;
  padding-left: 45px;
  font-size: 28px;
  font-weight: 450;
}
h3 {
  font-size: 18px;
}
ul {
  list-style: none;
  padding: 0;
  color: rgb(155, 155, 155);
  font-size: 18px;
  text-transform: capitalize;
}
form {
  position: relative;
  left: 260px;
  top: -50px;
}

a {
  text-decoration: none;
}
.weather-app {
  padding: 30px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  height: 500px;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.current-temp {
  margin-top: 20px;
  margin-left: 45px;
}

.weather-condition {
  margin-top: 15px;
  margin-left: 45px;
}
.current-temp .units {
  position: relative;
  top: -18px;
  font-size: 20px;
}
.current-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.forecast-temperature {
  font-size: 12px;
}
#top-description {
  margin-top: -30px;
  margin-left: 45px;
}

#temperature {
  font-size: 40px;
  position: relative;
  left: -8px;
}

#submit-button {
  position: relative;
  left: -26px;
}
#forecast-one,
#forecast-two {
  position: relative;
  left: 265px;
  top: -230px;
  padding-bottom: 20px;
  margin-right: 45px;
}
#icon {
  width: 75px;
  margin-top: -27px;
  margin-left: -20px;
}
#forecast-img {
  width: 60px;
}
